.mockup-window {
    width: 98vw;
    background-color: hsl(var(--n));
}

.tot{
    color: black;
    margin: 10px 0;
}

.thm {
    background-color: aqua;
    position: fixed;
    left: 1.3vw;
    bottom: 9.5vh;
}

.xyz {
    /* background-color: rgb(0, 255, 98); */
    background-image: linear-gradient(150deg, hsl(var(--a)), hsl(var(--sf)),hsl(var(--wa)), hsl(var(--er)), hsl(var(--a)), hsl(var(--sf)),hsl(var(--wa)), hsl(var(--er)));
}   


.mockup-window:before {
    opacity: 0.7;
    box-shadow: 1.4em 0 hsl(var(--a)), 2.8em 0 hsl(var(--p)), 4.2em 0 hsl(var(--s));
}