

.dropdown ::-webkit-scrollbar {
    width: 5px;
  }
  
  .dropdown ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc));
    border-radius: 10px;
  }
  
  .dropdown ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--wa));
  }
  
  .dropdown ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
  } 
  
  /* Styles for dropdown button and menu */
   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .btn {
    cursor: pointer;
    background-color: hsl(var(--n));
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 25px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; 
    border: 1px solid #d2d6dc;
    z-index: 1;
    min-width: 100px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: hsl(var(--a));
    text-align: center;
  }
  
  .dropdown-item {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #2d3748;
  }
  
  .dropdown-item:hover {
    background-color: #f7fafc;
  } 
  
  /* Styles for responsive dropdown */
   @media (max-width: 830px) {
    .dropdown {
      display: flex;
      flex-direction: column;
    }
  
  
    .dropdown-content {
      position: static;
      max-height: none;
      width: 70%;
      border: none;
    }
  }
  
  
  
  @media (max-width: 830px) {
    .btn {
      width: 45px;
      height: 33px;
      font-size: 20px;
      border-radius: 50%;
    }
  }
   
  